/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500&family=Signika+Negative:wght@300&display=swap');

/* Wildcard selector to override default styles added by browdser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Gneneric project styles */
    color: #3a3a3a;
    font-family: 'Signika Negative', sans-serif;
}

/* Header */
header {
    background-color: #F5F4F4;
    padding: 10px;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 4px #808080;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Expletus Sans' sans-serif;
    text-transform: uppercase;
    color: #11191E;
}

#menu {
    font-size: 105%;
    letter-spacing: 1px;
}

/* Main content */
main {
    background-color: azure;
    /* Make main element take up any extra space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightgray;
}