/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500&family=Signika+Negative:wght@300&display=swap');

/* Wildcard selector to override default styles added by browdser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Gneneric project styles */
    color: #3a3a3a;
    font-family: 'Signika Negative', sans-serif;

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Expletus Sans', sans-serif;
    text-transform: uppercase;
    color: #11191E;
}

/* Header */
header {
    background-color: #F5F4F4;
    padding: 10px;
    width: 100%;
    box-shadow: 0 1px 4px #808080;
    z-index: 99;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 105%;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
}

#menu>li {
    margin-bottom: 5px;
}

/* Navbar with dropsown toggle styles */
nav {
    position: absolute;
    width: 100%;
    background-color: #F5F4F4;
    padding: 0 1rem;
    left: 0;
    display: none;
    box-shadow: 0 1.5px 2px #808080;
    top: 9%;
    z-index: inherit;
}

/* Nav toggle */
#navbar-toggle:checked~nav {
    display: block;
}

#navbar-toggle {
    display: none;
}

.toggle-label {
    font-size: 26px;
}

/* Main content */
main {
    /* Make main element take up any extra space to push footer down */
    flex: 1 0 auto;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat center center/cover;
    position: relative;
}

#text-cover>h2 {
    font-family: 'Expletus Sans', sans-serif;
    text-transform: uppercase;
    color: #EAE4D7;
}

#text-cover {
    background-color: rgba(163, 143, 143, .8);
    font-size: 110%;
    text-align: center;
    bottom: 50px;
    position: absolute;
    width: 80%;
    min-height: 150px;
    padding: 50px;
    border-radius: 10px;

}

/* Our Story section */
#story {
    margin: 20px auto;
    width: 90%;
}

#story h2 {
    margin-bottom: 10px;
    text-align: center;
}

#story p {
    padding: 5px 10px;
}

/* Benefits section */
#benefits {
    width: 90%;
    margin: 20px auto;
}

#benefits h2 {
    text-align: center;
    margin-bottom: 20px;
}

#benefits p {
    padding: 5px 10px;
}

hr {
    margin: 5px 0;
}

#rounded-image {
    background: url('../images/benefits-image.webp') no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin: 20px 0;
    border-radius: 25%;
    max-width: 320px;
    max-height: 320px;
}

#reasons-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Meet-ups times section */
#drop-in {
    background: url('../images/times-image.webp') no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#drop-in div {
    color: #EAE4D7;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}

#drop-in h3 {
    /* Overrides the colour style we put in general styles */
    color: #EAE4D7;
}

#meetups h2 {
    text-align: center;
}

#meetups hr {
    border: 1px solid rgba(234, 228, 215, 0.4);
}

/* Contact page section */
#contact {
    /* Fallback colour if picture does not load */
    background: #3a3a3b;
    background: url(../images/contact-image.webp) no-repeat center center/cover;
    padding: 40px 10% 0 10%;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(167, 85, 57, .5);
    padding: 25px;
    border-radius: 5px;
}

#contact-form>h2 {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

#contact-form>p {
    margin-bottom: 10px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 100%;
    border: 1px solid #ffffff;
}

fieldset {
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#fname,
#lname,
#email-address,
#message {
    padding: 4px;
    margin-bottom: 10px;
}

#contact div {
    height: 100vh;
}

.submit-button {
    margin: 20px auto 0;
    padding: 10px 20px;
    display: block;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #3a3a3a;
}

#contact {
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #F5F4F4;
    left: 0;
    bottom: 0;
    width: 100%;
}

#socials {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    list-style-type: none;
}

#socials i {
    font-size: 130%;
    color: #11191E;
}

.text-center {
    text-align: center;
    padding-bottom: 10px;
}

/* Media query tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        position: relative;
        display: block;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    .toggle-label {
        display: none;
    }

    #menu>li {
        padding-left: 4rem;
    }

    #logo {
        font-size: 250%;
        margin: 0 20px;
    }
}

/* Media query for small laptops and larger (1024px and up) */
#menu a:hover {
    border-bottom: 1px solid #4D5054;
}

/* Media query labtops and larger (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Benefits section */
    #first-benefit,
    #second-benefit {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #first-benefit>div,
    #second-benefit>div {
        width: 65%;
    }

    #second-benefit>div {
        text-align: end;
        align-self: flex-end;
    }

    #benefits>div {
        flex: 1;
        display: flex;
        align-items: center;
    }

    #second-benefit {
        order: 1;
    }

    #rounded-image {
        border-radius: 50%;
    }
}